<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">College Student</h3>
            <div class="subheading mb-3">Variety</div>
            <p>Bring to the table knowledge of many different topics since I have taken many classes under the umbrella of computer science.  Plan to focus on cybersecurity after I graduate.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2017 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Cybersecurity Instructor's assistant</h3>
            <div class="subheading mb-3">SANS Cybersecurity Courses</div>
            <p>Worked as an assistant to Ed Skoudis for internship over the summer of 2018.  Updated a SANS course with screenshots from current versions of many different programs, such as Metasploit, John the Ripper, Netcat, and Powershell, among many others. </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2018 - August 2018</span>
          </div>
        </div>

      </div>

    </section>